#------------------------------------------------------------------------------
# This file provides server security limiting access to the localhost only.
# Comment next four lines to deactivate. (Allows external access)
#------------------------------------------------------------------------------

#------------------------------------------------------------------------------
# To allow execution of cgi scripts in this directory uncomment next two lines.
#------------------------------------------------------------------------------.

AddHandler cgi-script .bat .exe .pl .cgi
Options +ExecCGI +FollowSymLinks

# 404 Error Page
ErrorDocument 404 /index.php

# URL yönlendirmeleri
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php [L,QSA]

# Cache'i devre dışı bırak
<IfModule mod_headers.c>
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires 0
</IfModule>

# Tarayıcı cache'ini devre dışı bırak
FileETag None
