# 404 Error Page
ErrorDocument 404 /index.php

# URL yönlendirmeleri
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php [L,QSA]

# if HTTP_HOST is not keremgok.local, redirect to https
RewriteCond %{HTTP_HOST} !^keremgok.local$ [NC]
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

# if HTTP_HOST is keremgok.local, allow cgi scripts
RewriteCond %{HTTP_HOST} ^keremgok.local$ [NC]
AddHandler cgi-script .bat .exe .pl .cgi
Options +ExecCGI +FollowSymLinks

# Cache'i devre dışı bırak
<IfModule mod_headers.c>
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires 0
</IfModule>

# Tarayıcı cache'ini devre dışı bırak
FileETag None
